*{
    padding: 0;
    margin: 0;
}

body{
    line-height: 1.5;
    font-size: 1rem;
}

.form-header{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.page-header{
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.page-header a img{
    vertical-align: bottom;
}

.menu{
    display: flex;
    list-style: none;
}

.menu ul{
    min-width: 50%;
    margin-right: 20px;
}

.menu li{
    margin-left: 50px;
}

.menu li a{
    color: black;
    text-decoration: none;
}

.supplies{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.5rem;
}

.supply{
    position: relative;
    margin: 5px;
    word-wrap: break-word;
    color: black;
    text-decoration: none;
}

.supply:hover{
    border: 1px solid black;
    transition: 0.4s;
}

.supply_picture{
    text-align: center;
}

.supply_name{
    word-wrap: break-word;
    text-align: center;
    padding: 3px;
}

.supply{
    position: relative;
    margin: 5px;
    word-wrap: break-word;
    max-width: 200px;
}

.form-page{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 400px;
    min-width: 400px;
}

.form-background{
    position: relative;
    max-width: 700 px;
    width: 100%;
    background: yellow;
    padding: 25px;
    border-radius: 50px;
}

.form-header{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.form{
    width: 100%;
    margin-top: 20px;
}

.input-box input{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
}

.form-button{
    height: 55px;
    width: 100%;
    font-size: 1 rem;
    background-color: white;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 10px;
}

.form-error{
    color: red;
}

.non-field-errors{
    margin-top: 10px;
}

.forgot-password{
    text-align: center;
    color: black;
}

.user{
    display: flex;
    flex-wrap: wrap;
    height: 1fr;
}

.profile-division{
    display: absolute;
    border: 1px solid black;
    min-height: 100vh;
    overflow: hidden;
}

.user-info img{
    margin-top: 25px;
}

.user-supplies{
    padding: 20px 20px;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}

.user-info{
    margin-left: 40px;
    margin-right: 40px
}

.form textarea{
    resize: none;
    width: 100%;
    padding: 2px;
}

.form-buttons{
    display: grid;
    grid-template-columns: 20% 70%;
    justify-content: space-between;
}

.supply-page{
    overflow:hidden;
    padding: 10px;
    padding-right: 0px;
}

.supply-page img{
    display:inline-block;
    margin-right:20px;
    float:left;
}

.supply-author{
    text-decoration: none;
    color: black;
}

.comment-input textarea{
    width: 95vw;
    resize: none;
    border-radius: 10px;
}

.comment-input{
    padding-left: 10px;
}

.comment-button{
    border: 1px solid black;
    margin-left: 10px;
    width: 95vw;
    background-color: white;
    height: 50px;
    border-radius: 10px;
}

.comment-form{
    background-color: yellow;
    padding-bottom: 10px;
}

.comment{
    margin-left:10px;
}

.supply-author:hover{
    color: blue;
}

.generic-button{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.generic-button a{
    padding: 5px;
    margin-top: 10px;
    background-color: yellow;
    border: 1px solid black;
    text-decoration: none;
    border-radius: 5px;
}

.form textarea{
    border-radius: 10px;
}

.chat{
    height: calc(100vh - 301px);
    overflow-y: scroll;
}

.message{
    margin-left: 10px;
}

.message-form{
    padding-left: 10px;
    background-color: yellow;
    border-top: 1px solid black;
    padding-bottom: 10px;
}

.message-form textarea{
    width: calc(100vw - 20px);
    resize: none;
    border-radius: 10px;
}

.message-button{
    width: calc(100vw - 20px);
    background-color: white;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
}

.message-to{
    text-align: right;
    margin-right: 10px;
}