{% extends "auth-background.html" %}
{% block content %}
<header class="form-header">Восстановление пароля</header>
<form method="POST" class="form">
    {% csrf_token %}
    <div class="input-box">
        <label>{{ form.email.label_tag }}</label>
        <div>{{ form.email }}</div>
        {% if form.email.errors %}
        {% for error in form.email.errors %}
        <div class="form-error">{{ error }}</div>
        {% endfor %}
        {% endif %}
    </div>
    <section class="non-field-errors">
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="form-error">{{ error }}</div>
        {% endfor %}
        {% endif %}
    </section>
    <button type="submit" class="form-button">Подтвердить</button>
</form>
{% endblock %}