{% extends 'base.html' %}
{% block content %}
<div class="chat">
{% for message in messages %}
        {% if message.to != request.user %}
            <div class="message">
                <ul class="message-info">
                    <li><a class="supply-author" href="{% url 'supplies:profile' message.user %}">{{ message.user }}</a></li>
                    <li>{{ message.time }}</li>
                </ul>
                <div class="last-message-text">{{ message.text }}</div>
            </div>
        {% else %}
            <div class="message-to">
                <ul class="message-info">
                    <li><a class="supply-author" href="{% url 'supplies:profile' message.user %}">{{ message.user }}</a></li>
                    <li>{{ message.time }}</li>
                </ul>
                <div class="test">
                    <div class="last-message-text">{{ message.text }}</div>
                </div>
            </div>
        {% endif %}
    <hr>
{% endfor %}
</div>
<form method="POST" class="message-form" action="{% url 'supplies:send_message' username %}">
    <div class="input">
        {% csrf_token %}
        {% for field in form %}
        <label>{{ field.label_tag }}</label>
        <div>{{ field }}</div>
        {% if field.errors %}
        {% for error in field.errors %}
          <div class="form-error">{{ error }}</div>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="message-button">Отправить сообщение</button>
</form>
{% endblock %}