{% extends "base.html" %}
{% block content %}
{% load static %}
{% load thumbnail %}
<section class="shop">
    <div class="supplies">
        {% for supply in page_obj %}
            <div class="supply">
                <a class="link" href="{% url 'supplies:supply' supply.id %}">
                    <div>
                        {% if supply.image %}
                        {% thumbnail supply.image "200x200" crop="center" upscale=True as im %}
                            <img class="" src="{{ im.url }}">
                        {% endthumbnail %}
                        {% else %}
                        <img src="{% static 'img/no-image.jpeg' %}" width="200" height="200">
                        {% endif %}
                        <div class="supply_name">{{ supply.name }}</div>
                        <div>Цена товара:</div>
                        <div class="price">{{ supply.price }}</div>
                        <div>Описание товара:</div>
                        <div class="desc">{{ supply.desc }}</div>
                    </div>
                </a>
                <div>Продавец:</div>
                <a class="link" href="{% url 'supplies:profile' supply.user %}">{{ supply.user }}</a>
            </div>
        {% endfor %}
    </div>
    <div class="pagination-grid">
        {% include "includes/paginator.html" %}
    </div>
</section>
{% endblock %}