{% extends "base.html" %}
{% block content %}
{% load static %}
<section class="shop">
    <div class="supplies">
        {% for supply in supplies %}
            <div class="supply">
                <a class="supply-author" href="{% url 'supplies:supply' supply.id %}">
                    <div>
                        <div class="supply_picture"><img src="{% static 'img/soon.png' %}" width="200" height="200"></div>
                        <div class="supply_name">{{ supply.name }}</div>
                        <div>Цена товара:</div>
                        <div class="price">{{ supply.price }}</div>
                        <div>Описание товара:</div>
                        <div class="desc">{{ supply.desc }}</div>
                    </div>
                </a>
                <div>Продавец:</div>
                <a class="supply-author" href="{% url 'supplies:profile' supply.user %}">{{ supply.user }}</a>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}