{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="user">
        <div class="user-info">
            <img src="{% static 'img/soon.png' %}" width="200" height="200">
                <div>Имя:</div>
                <div>{{user.first_name}}</div>
                <div>Фамилия:</div>
                <div>{{user.last_name}}</div>
                <div>Email:</div>
                <div>{{user.email}}</div>
                <div>Номер телефона:</div>
                <div>{{user.phone}}</div>
                <div>Количество товаров:</div>
                <div>{{supplies.count}}</div>
                <div class="generic-button">
                    {% if request.user == user %}
                    <a href="{% url 'supplies:add_supply' %}">Создать объявление</a> <!-- Доделать -->
                    {% else %}
                    <a href="/">Написать пользователю</a> <!-- Доделать -->
                    {% endif %}
                </div>
        </div>
        <hr class="profile-division">
        <div class="user-supplies">
            {% for supply in supplies %}
                <a class="supply" href="{% url 'supplies:supply' supply.id %}">
                    <div class="supply_picture"><img src="{% static 'img/soon.png' %}" width="200" height="200"></div>
                    <div class="supply_name">{{ supply.name }}</div>
                    <div class="price">{{ supply.price }}</div>
                    <div class="desc">{{ supply.desc }}</div>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}