{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="supply-page">
        <img src="{% static 'img/soon.png' %}" width="500" height="500">
        <div>Пользователь:</div>
        <a class="supply-author" href="{% url 'supplies:profile' supply.user %}">{{ supply.user }}</a>
        <div>Название товара:</div>
        <div>{{ supply.name }}</div>
        <div>Цена товара:</div>
        <div>{{ supply.price }}</div>
        <div>Описание товара:</div>
        <div>{{ supply.desc }}</div>
     </section>
    {% if request.user != supply.user and not is_user_comment_exists %}
    <form method="POST" class='comment-form' action="{% url 'supplies:add_comment' supply.id %}">
        {% csrf_token %}
        {% for field in form %}
        <div class="comment-input">
            <label>{{ field.label_tag }}</label>
            <div>{{ field }}</div>
            {% if field.errors %}
            {% for error in field.errors %}
              <div class="form-error">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="comment-button">Опубликовать комментарий</button>
    </form>
    {% endif %}
    {% if page_obj %}
    <div class="comments">
        <hr>
        {% for comment in page_obj %}
        <div class="comment">
            <a href="{% url 'supplies:profile' comment.user %}" class="supply-author">{{comment.user}}</a> <!-- заменить supply-author на author -->
            <div>{{comment.text}}</div>
            {% if comment.user.id == request.user.id %}
            <div class="comment-options">
                <a class="supply-author" href="{% url 'supplies:change_comment' comment.id %}">Редактировать</a>
                <a class="supply-author" href="{% url 'supplies:delete_comment' comment.id %}">Удалить</a>
            </div>
            {% endif %}
        </div>
        <hr>
        {% endfor %}
    </div>
    {% include 'includes/paginator.html' %}
    {% endif %}
{% endblock %}