{% extends 'base.html' %}
{% load static %}
{% block content %}
    <img src="{% static 'img/soon.png' %}" width="500" height="500">
    {{ supply.name }}
    {{ supply.price }}
    {{ supply.desc }}
<form method="POST" class="form" action="{% url 'supplies:add_comment' supply.id %}">
    {% csrf_token %}
    {% for field in form %}
    <div class="input-box">
        <label>{{ field.label_tag }}</label>
        <div>{{ field }}</div>
        {% if field.errors %}
        {% for error in field.errors %}
          <div class="form-error">{{ error }}</div>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="form-button">Опубликовать комментарий</button>
</form>
{% for comment in comments %}
    {{comment.user}}
    {{comment.text}}
{% endfor %}
{% endblock %}