{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="techs">
    <div class="techs-text">В создании сайта использовался язык рограммирования Python, а именно - фреймворк Django, а также язык гипертекстовой разметки HTML5, язык таблиц стилей CSS3:</div>
    <div class="techs-images">
        <img class="tech-image" src="{% static 'img/techs/python.jpg' %}" height="100" width="100">
        <img class="tech-image" src="{% static 'img/techs/html.jpg' %}" height="100" width="100">
        <img class="tech-image" src="{% static 'img/techs/django.jpg' %}" height="100" width="250">
        <img class="tech-image" src="{% static 'img/techs/css.jpg' %}" height="100" width="100">
    </div>
    </div>
{% endblock %}